@model IEnumerable<yazlab3.Models.LogViewModel>

@{
    ViewData["Title"] = "Loglar";
}

<h2>Admin Logları</h2>

@foreach (var log in Model)
{
    <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
        <p><strong>Log ID:</strong> @log.LogID</p>
        <p><strong>Müşteri ID:</strong> @log.CustomerID</p>
        <p><strong>Log Türü:</strong> @log.LogType</p>
        @if (log.CustomerType != null)
        {
            <p><strong>Müşteri Türü:</strong> @log.CustomerType</p>
        }
        @if (log.ProductName != null)
        {
            <p><strong>Ürün:</strong> @log.ProductName</p>
        }

        @if (log.Quantity != null)
        {
            <p><strong>Satın Alınan Miktar:</strong> @log.Quantity</p>
        }
        <p><strong>İşlem Zamanı:</strong> @log.LogDate</p>
        <p><strong>İşlem Sonucu:</strong> @log.LogDetails</p>
    </div>
}


<p>
    <a href="@Url.Action("OrderList", "Admin")">Siparişler Listesine Dön</a>
</p>